---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Yann-Aël Le Borgne</div>
      <div style='font-size: 1.5em; padding: 10px'>
        Senior researcher
      </div>
      <div style='font-size: 1.2em; padding: 5px'>
        <a href="http://mlg.ulb.ac.be" target='_blank'>Machine Learning Group</a>
      </div>
      <div style='font-size: 1.2em; padding: 5px'>
        <a href="http://ulb.ac.be/di" target='_blank'>Computer Science Department</a>
      </div>
      <div style='font-size: 1.2em; padding: 5px'>
        <a href="http://ulb.ac.be/" target='_blank'>Université Libre de Bruxelles, Belgium</a>
      </div>
      <br/>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://www.linkedin.com/in/yannaelb" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="http://github.com/yannael" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="https://scholar.google.com/citations?user=jJ3q07wAAAAJ&hl=en" target="_blank">
            <i class="ai ai-fw ai-google-scholar-square"></i></a>
        </li>
        <li>
          <a href="https://www.researchgate.net/profile/Yann-Ael_Le_Borgne" target="_blank">
            <i class="ai ai-fw ai-researchgate"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/me-large.jpg">
        <img src="/images/me-large.jpg"
             style="border-radius: 20px; border-width: 0px; margin: 20px; max-width: 300px;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
